@import 'base/variables';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/title';
@import 'blocks/advantages';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'base/media';

*{
    font-family: 'Museo Sans Cyrl', sans-serif;
}
.container {
    max-width: 950px;       /* Делаем контейнер под ширину контента */
    margin: 0 auto;
}
